<% results.each do |result| %>
  <tr>
    <td class="<%= result[:success].blank? ? 'bg-danger' : 'bg-success' %>"></td>
    <td><%= result[:name] %></td>
    <td><%= result[:message] %></td>
  </tr>
<% end %>
